.sidebar-widget-bizproc .sidebar-widget-top {
    background-position: 0 -467px;
}
.sidebar-widget-item-content {
    background-color: #f1d7d7;
}
.sidebar-widget-item-footer {
    border-top: 1px solid #d5a28f !important;
    color: #6a4c40 !important;
}
.sidebar-widget-item-footer a {
    color: #6a4c41 !important;
}