/* Standart */
div.empty-clear{
	clear:both;
	width:100%;
	overflow:hidden;
	height:4px!important;}
form.wd-form{
	padding:0px!important;
	margin:0px!important;
	border:none!important;}
div.controls a{
	display:block;
	margin:0px;
	padding:3px 3px 5px 23px;
	border:none;
	white-space:nowrap;
	text-decoration:none;
	background-position:2px center;
	background-repeat: no-repeat;
	vertical-align:bottom;}
span.wd-item-controls a{
	margin:0 0 0 25px;
	padding:0px 3px 0px 21px;
	border:none;
	white-space:nowrap;
	text-decoration:none;
	background-repeat: no-repeat;
}
div.wd-help-list{
	border:1px solid #C4C4C4;
	padding:4px;
	background-color:#f6f6f6;}
div.wd-help-error ul {padding:0; margin:0 0 0 20px;}
div.wd-help-error {color:red;}
ul.wd-content li{
	padding: 5px;}
table.clear, td.clear {
	border:none!important;
	padding:0px;
	margin:0px;
	width:auto!important;
	background-color:transparent;}
div.debug-info{
	position:absolute;
	width:170px; padding:5px;
	background-color:#FCF7D1;
	border:1px solid #EACB6B;
	text-align:left;
	z-index:100; font-size:11px;}
/* /Standart */

/* Top Menu */
div.wd-menu{}
table.wd-menu{
	border:none;
	background-color:#CEDEEC;
	width:100%;
	padding:0px;
	margin:0px;}
table.wd-row{
	height:auto!important;}
table.wd-menu td {
	font-size:100%;
	padding:0px;
	margin:0px;
	border:none;}
table.wd-menu thead, table.wd-menu tfoot,
/*table.wd-menu tbody td.right, table.wd-menu tbody td.left,*/
table.wd-menu-inner div.section-separator{
	display:none;}
table.wd-menu tbody td.center{
	width:100%;
	padding:4px;}
table.wd-menu div.separator {
	width:1px;
	height:21px;
	border-left:1px solid #9CB0C5;
	margin:0px 3px 0px 3px;}
table.wd-menu-inner td{
	vertical-align:bottom;}
table.wd-menu-inner td.separator{
	vertical-align:middle;}
table.wd-menu-inner div.controls a{
	border:1px solid #CEDEEC;
	color:#072838;}
table.wd-menu-inner div.controls a:hover {
	border:1px solid #6290A6;
	background-color:#E6EEF5;}
table.wd-menu-inner div.controls a,
table.wd-menu-inner div.controls a:visited,
table.wd-menu-inner div.controls a:active {
	color:#072838;}
table.wd-menu-inner{}
/* Top Menu icons*/
/* old toolbar */
table.bx-interface-toolbar a.element-history {
	background-image: url('images/menu_icons/element_history.gif')!important;
	background-position: left 50%!important;}
table.bx-interface-toolbar a.element-edit {
	background-image: url('images/menu_icons/element_edit.gif')!important;
	background-position: left 50%!important;}
table.bx-interface-toolbar a.element-add,
table.bx-interface-toolbar a.element-clone {
	background-image: url('images/menu_icons/element_add.gif')!important;
	background-position: left 50%!important;}
table.bx-interface-toolbar a.element-upload {
	background-image: url('images/menu_icons/element_upload.gif')!important;
	background-position: left 50%!important;}
table.bx-interface-toolbar a.element-delete{
	background-image: url('images/menu_icons/element_delete.gif')!important;
	background-position: left 50%!important;}
table.bx-interface-toolbar a.element-unlock{
	background-image: url('images/menu_icons/element_unlock.gif')!important;
	background-position: left 50%!important;}
table.bx-interface-toolbar a.element-upload {
	background-image: url('images/menu_icons/element_upload.gif')!important;
	background-position: left 50%!important;}
table.bx-interface-toolbar a.element-copy {
	background-image: url('images/menu_icons/element_copy.gif')!important;
	background-position: left 50%!important;}
table.bx-interface-toolbar a.element-download {
	background-image: url('images/menu_icons/element.gif')!important;
	background-position: left 50%!important;}
table.bx-interface-toolbar a.sections {
	background-image: url('images/menu_icons/sections.gif')!important;
	background-position: left 50%!important;}
table.bx-interface-toolbar a.go-back{
	background-image: url('images/menu_icons/up.gif')!important;
	background-position: left 50%!important;}
table.bx-interface-toolbar a.section-add {
	background-image: url('images/menu_icons/section_add.gif')!important;
	background-position: left 50%!important;}
table.bx-interface-toolbar a.unsubscribe {
	background-image: url('images/menu_icons/unsubscribe.gif')!important;
	background-position: left 50%!important;}
table.bx-interface-toolbar a.subscribe {
	background-image: url('images/menu_icons/subscribe.gif')!important;
	background-position: left 50%!important;}
table.bx-interface-toolbar a.help {
	background-image: url('images/menu_icons/help.gif')!important;
	background-position: left 50%!important;}
table.bx-interface-toolbar a.ffext {
	background-image: url('images/menu_icons/ffic.png')!important;
	background-position: left 50%!important;}
table.bx-interface-toolbar a.rights {
	background-image: url('images/menu_icons/access.gif')!important;
	background-position: left 50%!important;}
table.bx-interface-toolbar a.settings {
	background-image: url('images/menu_icons/settings.gif')!important;
	background-position: left 50%!important;}
table.bx-interface-toolbar a.mapping {
	background-image: url('images/menu_icons/maping.gif')!important;
	background-position: left 50%!important;}
table.bx-interface-toolbar a.bizproc {
	background-image: url('images/menu_icons/bizproc.gif')!important;
	background-position: left 50%!important;}
table.bx-interface-toolbar a.trash-go {
	background-image: url('images/menu_icons/trash_go.gif')!important;
	background-position: left 50%!important;}
table.bx-interface-toolbar a.trash-go-full {
	background-image: url('images/menu_icons/trash_full.gif')!important;
	background-position: left 50%!important;}
table.bx-interface-toolbar a.trash-clean {
	background-image: url('images/menu_icons/trash_clean.gif')!important;
	background-position: left 50%!important;}
table.bx-interface-toolbar a.disk-group {
	background-image: url('images/menu_icons/disk_group.png')!important;
	background-position: left 50%!important;}
table.bx-interface-toolbar a.disk-group-on {
	background-image: url('images/menu_icons/disk_group_on.png')!important;
	background-position: left 50%!important;}
/* /old toolbar */
/* new toolbar */
div.bx-interface-toolbar a.bx-context-button span.element-history {
	background-image: url('images/menu_icons/element_history.gif')!important;}
div.bx-interface-toolbar a.bx-context-button span.element-edit {
	background-image: url('images/menu_icons/element_edit.gif')!important;}
div.bx-interface-toolbar a.bx-context-button span.element-add,
div.bx-interface-toolbar a.bx-context-button span.element-clone {
	background-image: url('images/menu_icons/element_add.gif')!important;}
div.bx-interface-toolbar a.bx-context-button span.element-upload {
	background-image: url('images/menu_icons/element_upload.gif')!important;}
div.bx-interface-toolbar a.bx-context-button span.element-delete{
	background-image: url('images/menu_icons/element_delete.gif')!important;}
div.bx-interface-toolbar a.bx-context-button span.element-unlock{
	background-image: url('images/menu_icons/element.gif')!important;}
div.bx-interface-toolbar a.bx-context-button span.element-upload {
	background-image: url('images/menu_icons/element_upload.gif')!important;}
div.bx-interface-toolbar a.bx-context-button span.element-download {
	background-image: url('images/menu_icons/element.gif')!important;}
div.bx-interface-toolbar a.bx-context-button span.sections {
	background-image: url('images/menu_icons/sections.gif')!important;}
div.bx-interface-toolbar a.bx-context-button span.go-back {
	background-image: url('images/menu_icons/up.gif')!important;}
div.bx-interface-toolbar a.bx-context-button span.section-add {
	background-image: url('images/menu_icons/section_add.gif')!important;}
div.bx-interface-toolbar a.bx-context-button span.unsubscribe {
	background-image: url('images/menu_icons/unsubscribe.gif')!important;}
div.bx-interface-toolbar a.bx-context-button span.subscribe {
	background-image: url('images/menu_icons/subscribe.gif')!important;}
div.bx-interface-toolbar a.bx-context-button span.help {
	background-image: url('images/menu_icons/help.gif')!important;}
div.bx-interface-toolbar a.bx-context-button span.ffext {
	background-image: url('images/menu_icons/ffic.png')!important;}
div.bx-interface-toolbar a.bx-context-button span.rights {
	background-image: url('images/menu_icons/access.gif')!important;}
div.bx-interface-toolbar a.bx-context-button span.settings {
	background-image: url('images/menu_icons/settings.gif')!important;}
div.bx-interface-toolbar a.bx-context-button span.mapping {
	background-image: url('images/menu_icons/maping.gif')!important;}
div.bx-interface-toolbar a.bx-context-button span.bizproc {
	background-image: url('images/menu_icons/bizproc.gif')!important;}
div.bx-interface-toolbar a.bx-context-button span.trash-go {
	background-image: url('images/menu_icons/trash_go.gif')!important;}
div.bx-interface-toolbar a.bx-context-button span.trash-go-full {
	background-image: url('images/menu_icons/trash_full.gif')!important;}
div.bx-interface-toolbar a.bx-context-button span.trash-clean {
	background-image: url('images/menu_icons/trash_clean.gif')!important;}
div.bx-interface-toolbar a.bx-context-button span.disk-group {
	background-image: url('images/menu_icons/disk_group.png')!important;
	background-position: left 50%!important;}
div.bx-interface-toolbar a.bx-context-button span.disk-group-on {
	background-image: url('images/menu_icons/disk_group_on.png')!important;
	background-position: left 50%!important;}
/* /new toolbar */



table.wd-menu div.notice{
	padding:0px;
	margin:0px 10px;
	width:15px;
	height:15px;
	display:block;
	background-image: url('images/menu_icons/notice.gif');
	corsor:hand;
	cursor:pointer;}
/* Breadcrumb */
div.wd-breadcrumb-navigation{
	padding: 0 0 16px 0;
	display:block;}
div.wd-breadcrumb-navigation span{
	padding:10px 0;
	font-size:11px;
	color:#7f7f7f;}
div.wd-breadcrumb-navigation span.wd-breadcrumb-navigation-header{
	color:#777777;}
div.wd-breadcrumb-navigation a{
	text-decoration:none;
	color:#7f7f7f;}
/* /Top Menu */

/* Main table */
table.wd-main{
	border-collapse:collapse;
	font-size:100%;
	border: 1px solid #C4C4C4;}
table.wd-main th, table.wd-main td{
	font-size:100%;}
table.wd-main th.wd-cell, table.wd-main td.wd-cell{}
table.wd-main thead th{
	background-color: #CEDEEC;
	color:#072838;
	white-space:nowrap;
	font-weight:bold;}
table.wd-main thead th.selected{
	background-color: #E6EEF5;}
table.wd-main thead a.wd-sort{
	color:#072838;
	font-weight:bold;
	text-decoration:none;
	display:block;
	padding-right:10px;
	background-position:right center;
	background-repeat:no-repeat;
	background-image: url('images/table/passive_down.gif');}
table.wd-main thead a.wd-sort-desc{
	background-image: url('images/table/active_up.gif');}
table.wd-main thead a.wd-sort-asc{
	background-image: url('images/table/active_down.gif');}
table.wd-main tbody th{
	white-space:nowrap;
	font-weight:normal;
	text-align:right;}
table.wd-main tbody td, table.wd-main tfoot td{
	border-left:none;
	border-right:none;}
table.wd-main tbody td.selected{
	color: #0C4797!important;}
table.wd-main tbody tr.over td{
	background-color:#fefdea;}
table.wd-main tbody tr.checked td{
	background-color:#eaf8df;}
table.wd-main td{
	padding:0px 5px;
	white-space:normal!important;}
/* Page Rights */
table.edit-table select {
	width: 250px;}
table.edit-table select.wd-rights-groups {
	float: right;}
table.edit-table select.wd-rights-permissions {
	float: left;}
div.wd-rights-delete {
	float: right;
	background-image: url('images/delete.gif');
	background-position: center center;
	background-repeat: no-repeat;
	height: 1.5em;
	width: 1.5em;
	cursor: hand;
	cursor: pointer;}

.wd_right_set div.wd-rights-delete {
	background-position: center center;
	position:relative;
	float: left;
	top:3px;
	left:8px;
}
/* Page History */
table.wd-main div.popup{
	z-index:10;
	background-color:white!important;}
table.wd-main div.popup div.visible{
	cursor:default;
	z-index:10;
	border:1px solid white;}
table.wd-main div.popup div.hidden{
	width:100%;
	height:100px;
	overflow:auto;
	cursor:default;
	z-index:1000;
	background-color:white!important;
	border: 1px solid #C4C4C4;
	top:-3px;
	left:-3px;
	padding:3px;}
/* /Main table */
/* Form table */
table.webdav-form {
	border:none;
	width:100%;}
table.webdav-form td, table.webdav-form th {
	font-size:100%;
	padding:5px 10px 5px 0px;
	font-weight:normal;
	vertical-align:top;}
table.webdav-form td{
	text-align:left;}
table.webdav-form th, table.webdav-form td.field-name {
	text-align:right;
	width:30%;}
table.webdav-form tr.header th, table.webdav-form tr.header2 th{
/*	height:35px;*/
	background-color: #CEDEEC;
	color:#072838;
	vertical-align:middle;
	white-space:normal;
	font-weight:normal;
	text-align:center;}
table.webdav-form tr.header2 th{
	background-color: #E6EEF5;}
table.webdav-form tbody select, table.webdav-form tbody input, table.webdav-form tbody textarea{
	width:70%;}
table.webdav-form tbody select option.selected{
	background-color:gray;}
table.webdav-form tbody textarea{
	height:50px;}
table.webdav-form tbody input.checkbox, table.webdav-form tbody.bizproc input{
	width:auto;}
table.webdav-form tfoot td{
	height:35px;
	background-color: #CEDEEC;
	text-align:center;
	vertical-align:middle;}
table.webdav-form span{
	padding-left:5px;}
span.element_download  a{
	background-image: url('images/simple/element_download.gif');}
span.element_edit a{
	background-image: url('images/simple/element_edit.gif');}
span.element_history a{
	background-image: url('images/simple/element_history.gif');}
span.element_delete a{
	background-image: url('images/simple/element_delete.gif');}
span.element_view a{
	background-image: url('images/simple/element_view.gif');}
span.element_unlock a{
	background-image: url('images/simple/element_unlock.gif');}

span.comments{
	font-style:italic;}
table.webdav-upload tbody select, table.webdav-upload tbody input{
	width:auto;}
/* /Form table */

/* Actions styles */
div.up a{
	background-image: url('images/table/up.gif');}
div.show-action a.action{
	display:block;
	background-image: url('images/dropdown/arr_down.gif');
	background-repeat:no-repeat;
	background-position:22px center;
	padding:3px;
	border:1px solid white;
	margin:0px;
	white-space:nowrap;}
div.show-action a.action:hover, table.wd-dropdown-pointer-active a.action {
	border:1px solid #AEB6C2;
	background-color:#DBE3F2;}
div.show-action a.action div.empty{
	background-image: url('images/dropdown/action.gif');
	background-repeat:no-repeat;
	background-position:left center;
	width:25px;
	height:20px; }
div.wd-action-block{
	display:block;
	height:11px;
	background-image: url('images/dropdown/action_head.gif');
	background-repeat:no-repeat;
	background-position:top center;}
tr.selected div.show-action a.action{}
/* Actions styles */
/* Dropdown */
table.wd-dropdown-pointer{
	display:table!important;
	border:none!important;
	padding:0px;
	margin:0px;}
table.wd-dropdown-pointer td{
	border:none!important;
	padding:0px!important;
	margin:0px!important;}

div.bx-popup-menu td.popupmenu .popupitem td.gutter div.icon {
	background-image     : url(images/dropdown/menuicons.gif?2) !important;
	background-color     : transparent;
	background-repeat    : no-repeat;
}

td.gutter div.icon {
	background-image     : url(images/dropdown/menuicons.gif?2) !important;
	background-color     : transparent;
	background-repeat    : no-repeat;
}
td.popupmenu div.popupitem td.gutter div.icon {
	background-position: 50px 0 !important;
	width: 18px !important;
	height: 18px !important;
}
td.popupmenu div.popupitem td.gutter div.icon.checked {
	background-position: -460px 0 !important;
}

td.popupmenu div.popupitem td.gutter div.bizproc_document,
td.popupmenu div.popupitem td.gutter div.bizproc_start,
td.popupmenu div.popupitem td.gutter div.bizproc_history { margin-left: 2px; background-position: 0 0 !important; width: 17px !important; height: 17px !important; } 
td.popupmenu div.popupitem td.gutter div.element_open{ background-position: -18px 0 !important; width: 20px !important; height: 20px !important; } 
td.popupmenu div.popupitem td.gutter div.element_comment{ background-position: -39px 0 !important; width: 20px !important; height: 20px !important; } 
td.popupmenu div.popupitem td.gutter div.element_copy{ background-position: -60px 0 !important; width: 20px !important; height: 20px !important; } 
td.popupmenu div.popupitem td.gutter div.element_delete{ background-position: -81px 0 !important; width: 20px !important; height: 20px !important; } 
td.popupmenu div.popupitem td.gutter div.element_download{ background-position: -102px 0 !important; width: 20px !important; height: 20px !important; } 
td.popupmenu div.popupitem td.gutter div.element_edit{ background-position: -123px 0 !important; width: 20px !important; height: 20px !important; } 
td.popupmenu div.popupitem td.gutter div.element_history{ background-position: -144px 0 !important; width: 16px !important; height: 16px !important; } 
td.popupmenu div.popupitem td.gutter div.element_move{ background-position: -161px 0 !important; width: 20px !important; height: 20px !important; } 
td.popupmenu div.popupitem td.gutter div.element_permissions{ background-position: -182px 0 !important; width: 20px !important; height: 20px !important; } 
td.popupmenu div.popupitem td.gutter div.element_rename{ background-position: -203px 0 !important; width: 20px !important; height: 20px !important; } 
td.popupmenu div.popupitem td.gutter div.element_subscribe{ background-position: -224px 0 !important; width: 17px !important; height: 17px !important; } 
td.popupmenu div.popupitem td.gutter div.element_unlock{ background-position: -242px 0 !important; width: 17px !important; height: 17px !important; } 
td.popupmenu div.popupitem td.gutter div.element_unsubscribe{ background-position: -260px 0 !important; width: 17px !important; height: 17px !important; } 
td.popupmenu div.popupitem td.gutter div.element_view{ background-position: -278px 0 !important; width: 20px !important; height: 20px !important; } 
td.popupmenu div.popupitem td.gutter div.section_copy{ background-position: -299px 0 !important; width: 20px !important; height: 20px !important; } 
td.popupmenu div.popupitem td.gutter div.section_drop{ margin-left:2px; background-position: -320px 0 !important; width: 16px !important; height: 16px !important; } 
td.popupmenu div.popupitem td.gutter div.section_edit{ background-position: -337px 0 !important; width: 20px !important; height: 20px !important; } 
td.popupmenu div.popupitem td.gutter div.section_move{ background-position: -358px 0 !important; width: 20px !important; height: 20px !important; } 
td.popupmenu div.popupitem td.gutter div.section_open{ background-position: -379px 0 !important; width: 20px !important; height: 20px !important; } 
td.popupmenu div.popupitem td.gutter div.section_permissions{ background-position: -400px 0 !important; width: 20px !important; height: 20px !important; } 
td.popupmenu div.popupitem td.gutter div.section_rename{ background-position: -421px 0 !important; width: 20px !important; height: 20px !important; } 
td.popupmenu div.popupitem td.gutter div.section_share{ background-position: -441px -2px !important; width: 18px !important; height: 18px !important; }
div.bx-popup-menu td.popupmenu div.popupitem td.gutter div.settings{ background-image: url('images/menu_icons/settings.gif')!important;
	background-position: -2px 0 !important; width: 18px !important; height: 18px !important; }

div.bx-popup-menu td.popupmenu div.popupitem td.gutter div.mapping{ background-image: url('images/menu_icons/maping.gif')!important;
	background-position: -1px 0 !important; width: 18px !important; height: 18px !important; }

div.bx-popup-menu td.popupmenu div.popupitem td.gutter div.help{ background-image: url('images/menu_icons/help.gif')!important;
	background-position: -1px 0 !important; width: 18px !important; height: 18px !important; }

div.bx-popup-menu td.popupmenu div.popupitem td.gutter div.ffext{ background-image: url('images/menu_icons/ffic.png')!important;
	background-position: 1px 0 !important; width: 18px !important; height: 18px !important; }

div.bx-popup-menu td.popupmenu div.popupitem td.gutter div.bizproc{ background-image: url('images/menu_icons/bizproc.gif')!important;
	background-position: -1px 0 !important; width: 18px !important; height: 18px !important; }
/* /Dropdown */

/* Popups */
div.wd-popup, div.wd-window-edit{
	background-color:white;
	padding:0px;
	margin:0px;
	border: 1px solid gray;
	width:350px;
	height:200px;
	overflow:hidden;
	text-align:center;
	color:black;}
div.wd-popup{
	width:352px;
	height:202px;}
div.wd-window-edit{
	border:none;}
div.wd-window-edit table, div.wd-window-edit table td{
	font-size:100%;
	text-align:left;
	vertical-align:top;
	border:none;
	padding:0px;
	margin:0px;}
div.wd-window-edit table.wd-window-edit{
	width:100%;
	height:200px;}
div.wd-window-edit table.wd-window-edit thead td{
	height:50px!important;
	overflow:hidden;
	font-size: 110%;
	padding:5px 10px 0px 10px;
	color:gray;
	font-weight:bold;}
div.wd-window-edit table.wd-window-edit tbody td{
	height:100px;
	padding:0px 10px;}
div.wd-window-edit table.wd-window-edit tfoot td{
	text-align:center;
	vertical-align:middle;
	padding:2px;
	height:50px!important;}
div.wd-window-edit table.wd-window-edit tfoot input{
	margin:0px 7px;}
div.wd-window-edit table.wd-window-edit tbody div.content {
	height:90px;
	overflow:auto;
	border:none;
	position:relative;
	width:330px;}
div.wd-window-edit table.wd-window-edit tbody input{
	width: 90%;}

div.cover{
	width:200px;
	height:120px;
	position:absolute;
	border:1px solid red;
	background-image:url('images/notice/corner.gif');
	background-position:right bottom;
	background-repeat:no-repeat;}
div.cover table.cover{
	width:100%;
	height:100px;
	border:none;
	border-collapse:collapse;
	margin:0px;
	padding:0px;}
div.cover table.cover td{
	margin:0px;
	padding:0px;
	border:none;}
div.cover table.cover td.left, td.right{
	background-repeat:no-repeat;
	width:10px;}
div.cover table.cover tr.top td.left{
	background-image:url('images/notice/table_corner_tl.gif');
	background-position:left top;}
div.cover table.cover tr.top td.right{
	background-image:url('images/notice/table_corner_tr.gif');
	background-position:right top;}
div.cover table.cover tr.bottom td.left{
	background-image:url('images/notice/table_corner_bl.gif');
	background-position:left bottom;}
div.cover table.cover tr.bottom td.right{
	background-image:url('images/notice/table_corner_br.gif');
	background-position:right bottom;}
div.cover table.cover tr.middle td.left, div.cover table.cover tr.middle td.right, div.cover table.cover td.center{
	background-color:#CBE5EE;}


/* /Popups */


/* Elements icons */
div.section-icon, div.section-up div a{
	background-position:center;
	background-repeat: no-repeat;
	background-image:url('images/icons/section.gif');
	float:left;
	width:20px;
	height:20px;
	margin-right:2px;}
div.shared-section-icon, div.section-up div a{
	background-position:center;
	background-repeat: no-repeat;
	background-image:url('images/icons/folder-shared-yellow.png');
	float:left;
	width:20px;
	height:20px;
	margin-right:2px;}
div.section-up div a {
	background-image: url('images/icons/up.gif');
	width:20px;
	height:20px;
	display:block;
	zoom: 1;
	z-index: 100;}
div.section-up a {
	line-height: 20px;}
div.element-shared {
	position:absolute;
	left:0px;
	top:11px;
	margin-right:2px;
	width:20px;
	height:20px;
	background-position:left center;
	background-repeat: no-repeat;
	background-image:url('images/icons/share-hand.png');}
div.element-lamp-green, div.element-lamp-yellow, div.element-lamp-red {
	background-repeat: no-repeat;
	background-position:center;
	background-image:url('images/table/green.gif');
	height:14px;
	width:14px;}
div.element-lamp-yellow {
	background-image:url('images/table/yellow.gif');}
div.element-lamp-red {
	background-image:url('images/table/red.gif');}

div.element-icon {
	position:absolute;
	left:0;
	top:0;
	margin-right:2px;
	height               : 16px;
	width                : 16px;
	margin-top	 		 : 2px;
	background-image     : url(images/icons/files-sprite.png);
	background-color     : transparent;
	background-repeat    : no-repeat;
	background-position  : 0 -32px;
}
div.icon-zip{ background-position:	0 -96px;  }
div.icon-rar{ background-position:	0 -96px;  }
div.icon-tif{ background-position: 	0 -128px; }
div.icon-bmp{ background-position:	0 -128px; }
div.icon-tiff{ background-position:	0 -128px; }
div.icon-gif{ background-position:	0 -128px; }
div.icon-jfif{ background-position: 0 -128px; }
div.icon-jpe{ background-position:	0 -128px; }
div.icon-jpeg{ background-position: 0 -128px; }
div.icon-jpg{ background-position:	0 -128px; }
div.icon-png{ background-position:	0 -128px; }
div.icon-txt{ background-position:	0 -192px; }
div.icon-xls{ background-position:	0 -224px; }
div.icon-xlsp{ background-position: 0 -224px; }
div.icon-xlsx{ background-position: 0 -224px; }
div.icon-csv{ background-position:	0 -224px; }
div.icon-ppt{ background-position:	0 -256px; }
div.icon-pptp{ background-position: 0 -256px; }
div.icon-pptx{ background-position: 0 -256px; }
div.icon-rtf{ background-position:	0 -288px; }
div.icon-doc{ background-position:	0 -288px; }
div.icon-docp{ background-position: 0 -288px; }
div.icon-docx{ background-position: 0 -288px; }
div.icon-pdf{ background-position: 	0 -415px; }

/* /Elements icons */
a.element-properties{
	display: inline-block;
	vertical-align: middle;
	float: none;
	padding-left: 13px;
	margin: 0 4px 0 0;
	background-position: left 5px;
	background-repeat: no-repeat;}
a.element-edit-office {
	background-image: url('images/icons/element_edit_in_office.gif');
	height: 16px;
	display: none; }
a.element-comments{
	display:inline;
	float:none;
	margin-top:2px;
	margin-left:20px;
	padding-left: 13px;
	background:url('images/icons/comments_count.gif') no-repeat 0 2px;}
a.element-comments:link {
	color: #888888; }
a.element-comments:visited {
	color: #888888; }
a.element-view{
	background-image:url('images/icons/element_view.gif');
	height:15px; width:15px;}

/* Reviews */
div.reviews-text table.forum-quote {
	background: url("images/font_quote.gif") no-repeat scroll left top #F8F2D4;
	border-color: #EEE9CC;
	color: #4A483F;
}


div.bx-edit-tab-inner table.bx-edit-table table tr td div.reviews-text table.forum-quote tr td,
div.bx-edit-tab-inner table.bx-edit-table table tr td div.reviews-text table.forum-code tr td
{
	padding: 0.9em 1em;
	background: transparent;
}

/* /Reviews */
/* BizProc */
div.bizproc-statuses{
	width:22px;
	height:18px;
	margin-right:6px;
	float:left;
	background-image:url('images/bizproc/bizproc_finished.gif');
	background-position:left center;
}
.wd-version-popup .menu-popup-item-icon {
	display: none;
}
.wd-version-popup .menu-popup-item-text .bizproc-statuses {
	height: 25px;
	margin-top: 3px;
}
.wd-version-popup .menu-popup-item-text .bizproc-item-title {
	margin-right: 10px;
}
.bx-panel-tooltip-text .bizproc-item-title {
	display: block;
}

div.bizproc-status-inprogress{
	background-image:url('images/bizproc/bizproc_inprogress.gif');}
div.bizproc-status-attention{
	background-image:url('images/bizproc/bizproc_attention.gif');}
div.wd-item-description{
	font-style:italic;}
ol.bizproc-childs, ol.bizproc-childs li,
ol.bizproc-items, ol.bizproc-items li{
	margin: 0;
	padding: 0;
	border: none;
	list-style-type: none;}
ol.bizproc-items, ol.bizproc-items li{
	font-size:11px;}
ol.bizproc-childs li,
ol.bizproc-items li {
	padding: 0.5em 0;}
table.bizproc-clones-table div.bizproc-statuses {
	float:none;}
table.bizproc-clones-table tr td {
	vertical-align: top;}
/* /BizProc */

/* Banner */
div.wd-info-banner {
	border:1px solid #C4C4C4;
	margin-bottom:1.5em;
	background-color: #f6f6f6;}
div.wd-info-banner div.wd-info-banner-head {
	background-color: #dddddd;
	height: 21px;}
div.wd-info-banner div.wd-info-banner-head .btn-close {
	display: block;
	height: 21px;
	width: 21px;
	float: right;
	background-image: url('images/close.gif');
	background-repeat: no-repeat;}
div.wd-info-banner div.wd-info-banner-body {
	margin:1em 1em 0 1.5em;}
div.wd-info-banner div.wd-info-banner-icon {
	display: block;
	float: left;
	padding-right: 1em;}
table.wd-info-banner-body, table.wd-info-banner-body td, table.wd-info-banner-body th{
	border:none;
	margin:0;
	padding:0;}
table.wd-info-banner-body{
	width:99%;}
table.wd-info-banner-body th {
	padding-right:1em;}
table.wd-info-banner-body td {
	padding-left:1.2em;
	border-left: 1px solid #E5E5E5;
	width:100%;}
div.wd-info-banner a.wd-info-banner-icon {
	display: block;
	height: 39px;
	width: 39px;
	background-image: url('images/icon.gif');
	background-position: left top;
	background-repeat: no-repeat;}
div.wd-infobox-inner{
	padding-bottom:1em;}
td.wd-info-banner-buttons{
	text-align:right;}
a.bx-bnr-button  {
	display: block;
	float: right;
	border: 1px solid #E5E5E5;
	font-weight: bold;
	padding: 5px 9px;
	color: black;
	text-decoration: none;
	margin-left:1em;
	white-space: nowrap;}
a.bx-bnr-button:hover {
	border: solid 1px #B7B7B7;}
div.wd-info-banner-content{
	height:5em;
	overflow-y:auto;}
td.wd-cell-bp_published{
	text-align:center;}
/* /Banner */
span.required{
	color:red;}
hr.wd-hr{
	color: gray;
	border: none;
	height: 1px;}
div.bx-core-window h3 {
	font-size: 1.38em;
}
div.bx-core-dialog-content table.wd-tip {
	background-color: #FFFDBE;
	border: 1px solid #FFDD9D;
	width:99%;
	margin-top:8px;
}
div.bx-core-dialog-content table.wd-tip tr td {
	background: none;
	padding-bottom: 5px;
}
div.bx-core-dialog-content table.wd-tip tr td.wd-alert-icon {
	vertical-align: middle;
}
div.bx-core-dialog-content table.wd-tip tr td.wd-alert-icon div{
	width:40px;
	height:45px;
	background-image: url("images/help.png");
	background-position: 14px 12px;
	background-repeat: no-repeat;
}
div.bx-core-dialog-content p {
	padding:8px 0;
	margin:0;
	/*display: block;*/
}
div.bx-core-dialog-content p.tip {
}
div.bx-core-window ul {
	padding-left:16px;
	margin-left:0;
}
div.bx-core-window ul li {
	font-size:115%;
	margin-top:20px;
}
div.bx-core-window ul li ul li {
	font-size:100%;
}
div.bx-core-window p {
	font-size:115%;
}
div.bx-core-window ul li p{
	font-size:100%;
}
div.bx-core-window input.wd-connection-line {
	width:98%;
}
div.bx-core-window p.wd-docstate-title {
	font-weight: bold;
	margin-top: 15px;
}
div.bx-core-window textarea {
	width: 400px;
}

div.bx-edit-tab-inner table.bx-edit-table table tr.bx-grid-head td {
	padding:0 5px 5px;
}
div.bx-edit-tab-inner table.bx-edit-table table tr td {
	padding:5px;
}
div.bx-edit-tab-inner table.bx-edit-table table tr td td {
	padding:0px;
}
div.bx-edit-tab-inner table.bx-edit-table table tr.reviews-actions td {
	padding:0 0 0 5px;
}
td.bx-field-value div.reviews-collapse {
	text-align: right;
}
td.bx-field-value div.reviews-collapse a {
	margin: 0;
	padding: 0;
}
div.bx-edit-tab-inner table.bx-interface-grid tr.bx-grid-gutter td {
	padding:0;
}
div.bx-edit-tab-inner table.bx-interface-grid tr.bx-grid-footer td {
	background-color: #E8E8E8;
	color: #747474;
	border: medium none;
	padding: 2px 6px;
}
div.bx-edit-tab-inner table.bx-edit-table table.bx-grid-multiaction tr td {
	padding:0;
}
div.bx-edit-tab-inner table.bx-edit-table table.bx-grid-multiaction tr td.bx-content {
	padding:4px;
	width:100%;
}

div.bx-edit-tab-inner table.bx-edit-table table.bx-grid-multiaction tr td {
	background-color: #E6E9F4;
	background-image: url("images/actions_bg.png");
	background-repeat: repeat-x;
}
div.bx-edit-tab-inner table.bx-edit-table div.bx-user-info-online-cell {
	display:none;
}
div.bx-edit-tab-inner table.bx-edit-table li.bizproc-list-item div.bizproc-statuses {
	height: 18px;
}
div.element-status-red {
	color:#CD3700;
	font-size:80%;
}
div.element-status-yellow {
	color:#8B6508;
	font-size:80%;
}

td.bx-form-title div.element-status-red,
td.bx-form-title div.element-status-yellow {
	margin-left:0;
	font-size:100%;
}

div.element-name, div.section-name {
	line-height:20px;
	position:relative;
	width:100%;
}
div.element-name-wrapper {
	margin-left:22px;
	margin-right:30px;
}
td.bx-field-value a#collapse_link {
	line-height:20px;
}

/*table#tab_main_edit_table tr {*/
	/*display: none;*/
/*}*/

table#tab_main_edit_table tr td table tr {
	display: inline;
	display: table-row;
}
div.bx-user-info-thumbnail {
	padding: 2px 10px 0 0;
}
td.bx-user-info-anchor-cell a {
	display: block;
	padding-bottom:3px;
}

.quick-edit {
	display: none;
}

.bx-field-value .element-status-yellow, .bx-field-value .element-status-red, .bx-field-value .element-status-green {
	display: none;
}

.wd-file-name, .wd-file-size, .wd-section, .wd-tags, .wd-description, .wd-wfstatus, .wd-wfcomments, .wd-ufview {
	line-height:22px;
}

.wd-file-name {
	height:22px;
}

.wd-ufedit {
	margin-top: -8px;
}

body table.bx-edit-table td.bx-field-value .wd-ufedit input {
	width: auto !important;
}

table.bx-edit-table div.wd-form-delimiter {
	width:120%;
	color:#000000;
	font-family: Arial,helvetica,sans-serif;
	font-size:120%;
	font-weight: bold;
	padding: 5px 0px;
}

.wd-wfcomments {
	width: 95%;
}

.wd-toggle-edit {
	border: 1px solid #ffffff;
	cursor: text;
	margin-left:4px;
}

.wd-input-hover {
	border: 1px solid #bbbbbb;
	margin-left:0px;
	padding-left:4px;
	background-color: #f8f8f8;
}

.wd-created, .wd-modified {
	margin-left:4px;
}

.wd-tags a:link {
	color: #000000;
	text-decoration:none;
}

.wd-tags a:hover {
	color: #0069C4;
	text-decoration: underline;
}

span.wd-file-size {
	margin-left:5px;
	color:#777777;
}

td.bx-field-value table.bx-user-info-anchor td.bx-user-info-anchor-cell {
	color: #777777;
	font-size: 85%;
	line-height: 115%;
	background-image: none;
}

td.bx-field-value table.bx-user-info-anchor td.bx-user-info-anchor-cell a {
	padding-top:3px;
	font-size: 115%;
	text-decoration: none;
	color: #000000;
}


td.bx-field-value table.bx-user-info-anchor td.bx-user-info-anchor-cell div.bx-user-info-thumbnail a {
	padding-top:0;
}

div.wd-modified {
	margin-bottom: 15px;
}

a.ajax {
	text-decoration: none;
	border-bottom: 1px dashed blue;
	cursor:pointer;
	color:#0069C4;
}

a.ajax:hover {
	border-bottom: 1px dashed red;
}

table.bx-interface-grid tr td div.bizproc-statuses {
	position:absolute;
	right:0;
	top:2px;
}

table.bx-interface-grid tr td div.wd-bp-published {
	width: 11px;
	height: 11px;
	margin: 4px auto 0;
}
table.bx-interface-grid tr td div.wd-bp-published-y {
	background-image: url('images/table/published-yes.gif');
}

table.bx-interface-grid tr td div.wd-bp-versions {
	clear:left;
	color:#888888;
	font-size: 85%;
	margin-left: 20px;
	margin-top:3px;
}
table.bx-interface-grid tr td div.wd-bp-versions span {
	border-bottom: 1px dashed #888888;
}
table.bx-interface-grid tr td input {
	width: 90%;
}
table.bx-interface-grid tr td.bx-checkbox-col input {
	width: auto;
}

table#tab_section_edit_table tr td input,
table#tab_main_edit_table tr td input {
	/*width: 376px;*/
}

table.bx-edit-table tr td input.wd_commit,
table.bx-edit-table tr td input.wd_rollback {
	width: auto !important;
}

table#tab_main_edit_table tr td input#wd_end_edit,
table#tab_main_edit_table tr td input#wd_edit_props,
table#tab_main_edit_table tr td input#wd_edit_office,
table#tab_main_edit_table tr td input#wd_commit,
table#tab_main_edit_table tr td input#wd_rollback,
table#tab_section_edit_table tr td input#wd_commit,
table#tab_section_edit_table tr td input#wd_rollback {
	width: auto;
}
table.bx-interface-grid tr td div.wd_column_date {
	white-space: nowrap;
}
table.bx-interface-grid tr td div.wd_column_user a,
table.bx-interface-grid tr td div.wd_column_user a:link,
table.bx-interface-grid tr td div.wd_column_user a:visited
{
	color: #000000;
}
.filter-block input.search-tags {
	width:98%;
}
table.bx-interface-grid tr td a.element-hint
{
	background-image: url("images/table/i-icon.gif");
	background-position: right 5px;
	background-repeat: no-repeat;
	padding-right: 16px;
}
table.bx-interface-grid tr td .wd-element-version
{
	padding: 0 5px;
}
td.bx-field-value div.element-name {
	float:left;
	width:auto;
}
td.bx-field-value table.bx-interface-grid div.element-name {
	width:100%;
}
td.bx-field-value div.element-name div.element-name-wrapper {
	margin-right:30px;
}
.image-uploader-objects .element-name {
	padding-left: 22px;
	overflow: hidden;
	text-overflow:ellipsis;
}
.wd-collapseable {
	display: none;
	border: 1px solid #AAAAAA;
	padding:5px;
	margin:0;
	width:97.2%;
}
div.bx-core-dialog-content p.wd-collapse-toggler {
	padding: 8px 13px;
	margin:0;
	background-position: 2px 14px;
	background-repeat: no-repeat;
	outline: none;
	display: block;
	width: 75%;
}
.wd-collapse-collapsed {
	background:url("images/arrow_right.gif") no-repeat scroll 0 5px;
	padding-left:10px;
	margin-left:3px;
}
.wd-collapse-expanded {
	background:url("images/arrow_down.gif") no-repeat scroll 0 5px;
	padding-left:10px;
	margin-left:3px;
}

.wd-user-link a, .wd-user-link a:link, .wd-user-link a:visited {
	color: #000;
	text-decoration:none;
}

.wd-user-link a:hover {
	text-decoration:underline;
}
div.wd-ff-extension-note {
	width:100%;
	text-align:center;
	background-color: #ffff99;
	padding:5px;
}

div.bx-interface-toolbar div.wd-ff-extension-note a {
	color: #0000ff;
	text-decoration: underline;
}
div.bx-interface-toolbar div.wd-ff-extension-note a:hover {
	text-decoration:none;
}

table.bx-grid-multiaction a.action-restore-button-dis {
	background-image: url("images/icons/left-bw.gif");
}

table.bx-grid-multiaction a.action-restore-button {
	background-image: url("images/icons/left.gif");
}
table.bx-grid-multiaction div.bx-interface-toolbar {
	margin: 0;
}
table.reviews-post-hidden tr td {
	background: none repeat scroll 0 0 #E5F8E3 !important;
}
.bx-core-dialog-content .bx-edit-tabs {
	display: none;
}
.bx-core-dialog-content .bx-buttons {
	display: none;
}
.bx-core-dialog-content .bx-form-title {
	background-color: #EDEDED !important;
	background-image: none !important;
	padding: 3px !important;
	font-weight: bold !important;
	color:#000;
	text-align:center;
}
.bx-core-dialog-content .bx-field-name {
	text-align: right;
	width:50%;
}
.bx-core-dialog-content .button-view {
	padding: 0 15px !important;
	margin-right:10px !important;
}

.bx-core-dialog-content .forum-permissions td {
	background-image:none;
	padding:4px 0 !important;
}
.bx-core-dialog-content .bx-edit-tab tr td {
	background: none;
}

.bx-core-dialog-content .bx-edit-tab tr td table tr td.bx-field-name {
	padding-right: 10px !important;
}
.bx-core-dialog-content .bx-edit-tab tr td table tr td.bx-field-name,
.bx-core-dialog-content .bx-edit-tab tr td table tr td.bx-field-value
{
	background-image: url("/bitrix/themes/.default/public/dot_hor.gif");
	background-position: left bottom;
	background-repeat: repeat-x;
}

.bx-core-dialog-content .wd_right_set div.wd-rights-delete {
	top: 4.5px;
}
.wd-iblock-rights .bx-interface-form {
	margin:0;
}
.wd-iblock-rights .bx-interface-form .bx-edit-tab tr td {
	padding-top:0 !important;
	padding-right:0 !important;
}
.wd-iblock-rights .bx-interface-form .bx-edit-table {
	margin:0;
	padding:0;
}
.wd-iblock-rights .bx-interface-form .bx-edit-table td.bx-field-name,
.wd-iblock-rights .bx-interface-form .bx-edit-table td.bx-field-value {
	padding-top: 7px !important;
	padding-right: 10px !important;
	margin-left: 5px;
}
.wd-iblock-rights .bx-interface-form .bx-edit-table td.bx-field-name,
.webdav_iblock_settings td.bx-field-name {
	line-height: 22px !important;
}
.wd-iblock-rights .bx-interface-form .bx-edit-tab td.bx-form-title {
	font-size: 13px !important;
	line-height: 18px !important;
}

body .webdav_iblock_settings table.bx-edit-tab-title td.bx-form-title  {
	border-width: 0px;
}

.wd_perm_buttons {
	margin-left:30%;
	padding-left:6px;
}
.bx-core-dialog-content .wd_perm_buttons {
	margin-left:50%;
	padding-left:1px;
}
.wd_edit_buttons {
	margin-top:30px;
}
.bx-core-dialog-content .wd_edit_buttons {
	display: none;
}
.wd_perm_buttons .wd_add_permission {
	display: block;
}
.wd_perm_buttons .button-view,
.wd_perm_buttons .button-edit {
	margin-right:10px;
	float: left;
	display: block;
}
.wd_hidden {
	display: none;
}
.wd-inherited {
	margin-left:4px;
	font-style: italic;
	display: block;
	float: left;
}
.wd-inherited .wd-inherited-source {
	font-size: 80%;
	color: #999;
	text-decoration: none;
	padding-bottom:0px;
	line-height:14px;
}
.wd-inherited .wd-inherited-source:hover {
	text-decoration: none;
	border-bottom: none;
	padding-bottom:1px;
}
.droptarget {
	-moz-box-shadow: -4px -4px 1em gold;
	-webkit-box-shadow: -4px -4px 1em gold;
	box-shadow: -4px -4px 1em gold;
}
span a.upload-file-name {
	padding: 2px 6px;
}
span span.file-size {
	padding-left:10px;
}

.wd_upload_progress
{
	width: 70%;
	height: 20px;
	background-color: #fff;
	border: 1px solid #888;
	position: relative;
	float: right;
	top: 11px;
}

.wd_upload_progress_bar
{
	position: absolute;
	top: 0px;
	left: 0px;
	height: 20px;
	width: 0px;
	border: none;
	background-color:#E4E4E4;
}

.wd_upload_progress_percent
{
	text-align:center;
	position: absolute;
	top: 3px;
	left: 0px;
	width: 100%;
	height: 100%;
	color: #000;
}

#wd_upload_form .webform-field-upload-list
{
	margin-left:0;
}

#wd_upload_form .drop-note
{
	font-size: 11px;
	color: #aaa;
}

table.wd-bp-table-params tr td
{
	padding:7px !important;
}

/* temp */
ul.user_groups li {
	list-style-type: none;
	padding: 0 10px 0 0;
	display: inline;
	cursor:pointer;
	text-decoration: underline;
}
ul.user_groups li.active {
	color: #f00;
}
#wd_upload_props input.search-tags {
	width:90%
}
#wd_upload_props table tr td {
	background-image: none;
}
.required.starrequired {
	color: #ff0000;
}
.image-uploader-settings li.wd-upload-form-propety {
	list-style-type: none;
}
.wd-name .wd-user-selected {
	color: black;
	display: inline-block;
	font-size: 12px;
	text-decoration: none;
	vertical-align: top;
	position: relative;
	white-space: nowrap;
}
.wd-name .wd-user-selected-del-icon {
	background: url("/bitrix/js/main/core/images/controls-sprite.png") no-repeat 0 -281px;
	right: 0;
	top: 0;
	height: 16px;
	position: absolute;
	width: 15px;
	cursor: pointer;
	background-position: 100px 0;
	margin-left: 3px;
	position: relative;
	display: inline-block;
}
.wd-name:hover .wd-user-selected-del-icon{
	background-position:0 -281px;
}
a.element-title
{
	cursor: pointer;
}
#wd_upload_expand {
	cursor: pointer;
	text-decoration: none;
	border-bottom: 1px dashed #0069C4;
	color: #0069C4;
}